.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px, 80px;

  &__nav-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.container {
  padding: 0 20px;
}

.wrapper {
  padding: 24px;
}
