<div class="feedbacks__container" *ngFor="let review of reviews; index as id">
  <div class="feedbacks__person">
    <div class="feedbacks__person-info">
      <span class="feedbacks__person-img"></span>
      <div class="feedbacks__person-name">
        <p>{{ review?.userName }}</p>
        <p>{{ review.rating }} &#9734; &#9734; &#9734; &#9734; &#9734;</p>
      </div>
    </div>
    <div class="feedbacks__data">
      <p>{{ review.updatedAt | date : "dd MMMM yyyy" }}</p>
    </div>
  </div>
  <!-- <div class="feedbacks__photos">
    <div class="feedbacks__photos-container">
      <span class="feedbacks__photo"></span>
      <span class="feedbacks__photo"></span>
      <span class="feedbacks__photo"></span>
    </div>
    <a class="feedbacks__all-photo" href="">Переглянути всі фото</a>
  </div> -->
  <div class="comment" *ngIf="review.isComment">
    <app-comment (addComment)="addComment(id)"></app-comment>
  </div>
  <div class="feedbacks__buttons">
    <div class="feedbacks__btn-answer">
      <button (click)="comment(id)">
        Відповісти
        <app-icon
          [path]="'answer-arrow'"
          [size]="{ width: '20px', height: '21px' }"
          [viewBox]="'0 0 20 21'"
        ></app-icon>
      </button>
      <p>Поскаржитись</p>
    </div>
    <div class="feedbacks__likes">
      <div class="feedbacks__like" (click)="like()">
        <app-icon
          [path]="'feedback-like'"
          [viewBox]="'0 0 32 32'"
          [size]="{ width: '32px', height: '33px' }"
          [fill]="'none'"
        ></app-icon>

        <span>{{ review.likes }}</span>
      </div>
      <div class="feedbacks__dislike" (click)="dislike()">
        <app-icon
          [path]="'feedback-dislike'"
          [viewBox]="'0 0 32 32'"
          [size]="{ width: '32px', height: '33px' }"
          [fill]="'none'"
        ></app-icon>

        <span>{{ review.dislikes }}</span>
      </div>
    </div>
  </div>
</div>
