@use "fonts";

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 168px;

  &__title {
    @include fonts.font-roboto;

    padding-top: 100px;
    padding-bottom: 160px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }

  &__wraper {
    display: flex;
    justify-content: space-between;
  }
}

.link {
  @include fonts.font-roboto;

  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  color: #797979;
  cursor: pointer;

  &:visited,
  &:active,
  &:hover {
    @extend .link;
  }
}
