<section class="user">
  <div class="path">
    <a class="link" routerLink="/">Головна</a><span class="link">/</span
    ><span class="link">Профіль</span>
  </div>
  <div class="user__title">Профіль</div>
  <div class="user__wraper">
    <div class="user__menu"></div>
    <div class="user__info">
      <div class="usr__info-subtitle">Особиста інформація</div>
      <form class="user__form">
        <div>
          <input type="text" />
        </div>
        <div>
          <input type="text" />
        </div>
        <div>
          <input type="text" />
        </div>
        <div>
          <input type="text" />
        </div>
        <div>
          <input type="text" />
        </div>
        <div>
          <input type="text" />
        </div>
      </form>
    </div>
    <div class="user__delivery">
      <div class="user__delivery-title">Способи доставки</div>
    </div>
  </div>
  <div>
    <button class="btn" (click)="logOut()">Log out</button>
  </div>
</section>
