<section class="product">
  <ng-container *ngIf="product$ | async as product">
    <app-product-card class="product__card" [product]="product">
    </app-product-card>
    <div class="action">
      <span class="link" [routerLink]="['/admin/products/', product._id]"
        >Редагувати</span
      >
      <div class="input-wrap">
        <input
          type="file"
          (change)="uploadImage($event, product._id)"
          #upload
          [style.display]="'none'"
        />
        <button class="btn btn__add" (click)="upload.click()">Upload</button>
      </div>
      <span class="link" routerLink="/admin/products">Назад до продукції</span>
    </div>
  </ng-container>
</section>
