@use "a-link";
@use "colors";

.link {
  @include a-link.path-link;

  padding: 5px;
  color: colors.$black;

  &:hover {
    border-radius: none;
    border-top: 2px solid colors.$black;
    border-bottom: 2px solid colors.$black;
  }
}

.action {
  padding-top: 2rem;

  span {
    margin: 2.5rem;
  }
}
