@use "../../../assets/styles/logo-mixin";
@import "../../../assets/styles/shared/colors";


.header {


  &__logo {
    @include logo-mixin.logo;

    // &__text {
    //   @include logo-mixin.text;

    // }
  }

  &__input {
    display: flex;
    height: 40px;
    // width: 423px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid $border-input;
  }
}

.logo__image {
  // @include logo-mixin.image();
  background-image: url("../../../assets/pics/logo.png");
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 210px;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }

  &__link {
    position: relative;
    padding: 5px;
    text-decoration: none;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #000;

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 1px;
      background-color: #000;
      transition: width 0.4s ease-in-out;
    }

    &:after {
      top: 0;
      left: 0;
    }
    &:hover::before,
    &:hover::after,
    &.active-link::before,
    &.active-link::after {
      width: 100%;
    }
    &:hover::before,
    &:hover::after {
      width: 100%;
    }
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon_heart {
    margin: 0 20px;
  }
}
