<div class="header__logo">
  <p class="header__logo__text">LOGO</p>
</div>
<div class="header__input">
  <input type="text">
</div>
<nav class="nav">
  <div class="nav__links">
    <a class="nav__link" routerLink="/" >Головна</a>
    <a class="nav__link" routerLink="/catalog" >Каталог</a>
    <a class="nav__link" routerLink="/discount" >Акції</a>
    <a class="nav__link" routerLink="/blog" >Блог</a>
    <a class="nav__link" routerLink="/about" >Про нас</a>
  </div>

  <div class="nav__icon">
    <span class="nav__icon_cart">
      <a class="nav__icon__link" routerLink="/cart" >
        <img src="../../../assets/pics/png/iconamoon_shopping-bag-thin.png" alt="cart">
      </a>
    </span>
    <span class="nav__icon_heart">
      <a class="nav__icon_link" routerLink="/likes">
        <img src="../../../assets/pics/png/ph_heart-thin.png" alt="heart">
      </a>
    </span>
    <!-- when hover drop down menu will be done soon-->
    <span class="nav__icon_user">
      <img src="../../../assets/pics/png/user.png" alt="">
    </span>
  </div>
</nav>
