@use "../../../assets/styles/logo-mixin";

.footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;

  &__logo {
    @include logo-mixin.logo;
    margin: 160px auto 100px auto;

    &__text {
      @include logo-mixin.text;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

    &__link {
      text-decoration: none;

      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #000;

      &:nth-child(-n + 1) {
        margin-left: 555px;
      }

      &:nth-last-child(-n + 1) {
        margin-right: 554px;
      }
    }
  }
}

.rights {
  display: flex;
  justify-content: center;
  margin: 40px;

  p {
    margin: 0;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.12px;
    color: #08091e;
  }
}
