<div class="footer">


  <div class="footer__logo">
    <a routerLink="/" class="footer__logo__text">
      <img src="../../../assets/pics/logo.png" alt="" style="width: 109px" />
    </a>
  </div>
  <nav class="footer__nav">
    <a routerLink="/faq" class="footer__nav__link">FAQ</a>
    <a routerLink="/delivery" class="footer__nav__link">Доставка і оплата</a>
    <a routerLink="/contacts" class="footer__nav__link">Контакти</a>
    <a routerLink="/politics" class="footer__nav__link"
      >Політика конфіденційності</a
    >
  </nav>
  <div class="rights">
    <p>&copy; 2023 NameShop. All Rights Reserved.</p>
  </div>
</div>
