@use "../../../assets/styles/logo-mixin";

.footer {
  max-width: 811px;
  padding-top: 80px;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 0;
  left: 0;

  &__logo {
    @include logo-mixin.logo;
    margin: 0 auto 100px;

    &__text {
      @include logo-mixin.text;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;

    &__link {
      text-decoration: none;

      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #000;
    }
  }
}

.rights {
  display: flex;
  justify-content: center;
  padding: 40px;

  p {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.12px;
    color: #08091e;
  }
}
