@use "flex";
@use "fonts";
@use "colors";

.shadow {
  @include flex.flex-col-ac;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.2);
  z-index: 300;
}

.cart {
  width: 984px;
  height: 1132px;
  flex-shrink: 0;
  overflow-x: auto;
  background: colors.$white;
  z-index: 400;

  &__orders {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0;
    align-items: center;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 984px;
    padding: 20px 48px 8px 24px;
    border-bottom: 1px solid #ababab;
  }

  &__title-text {
    @include fonts.font-manrope(36px, 500, normal, normal);
  }

  &__order-actions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 26px;
  }
}

.btn__close {
  cursor: pointer;
}

.cart__btn {
  @include fonts.primary-roboto(18px, 400, normal, 130%);

  display: flex;
  padding: 14px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #636363;
  border-radius: 8px;
  color: #1a1a1a;

  &-dark-grey {
    @include fonts.primary-roboto(20px, 400, normal, 130%);

    display: flex;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    background: #4f4f4f;
    color: colors.$white;
  }
}
