<!--<section class="name wrapper">-->
<!--  <p class="name__shop">Name Shop</p>-->
<!--</section>-->
<section class="carousel wrapper">
  <app-carousel></app-carousel>
</section>
<section class="top wrapper" *ngIf="categoryPopular">
  <app-card  class="top__box" [mockData]="categoryPopular"> </app-card>
  <div class="top__btn">
    <button class="btn__card" (click)="redirect('/catalog', categoryPopular.routerLink)">
      ПЕРЕЙТИ В КАТАЛОГ
    </button>
  </div>
</section>
<section class="new wrapper" *ngIf="categoryNew">
  <app-card class="new__box" [mockData]="categoryNew"></app-card>
  <div class="top__btn">
    <button class="btn__card" (click)="redirect('/catalog', categoryNew.routerLink)">
      переглянути всі
    </button>
  </div>
</section>
<section class="actions wrapper" *ngIf="categoryShares">
  <app-card class="actions__box" [mockData]="categoryShares"></app-card>
  <div class="top__btn">
    <button class="btn__card" (click)="redirect('/catalog', categoryShares.routerLink)">
      переглянути всі
    </button>
  </div>
</section>
<section class="advices wrapper">
  <app-advices class="advices__box"></app-advices>
</section>
