<section class="carousel wrapper">
  <app-carousel></app-carousel>
</section>
<section class="top wrapper">
  <div class="top__title">Популярне</div>
  <div class="product__card">
    <app-product-card
      class="top__box"
      *ngFor="let product of topProducts"
      [product]="product"
    ></app-product-card>
  </div>
  <div class="top__btn">
    <button class="btn btn__add btn__card" (click)="redirect('/catalog')">
      ПЕРЕЙТИ В КАТАЛОГ
    </button>
  </div>
</section>
<section class="new wrapper">
  <div class="top__title">Новинки</div>
  <div class="product__card">
    <app-product-card
      class="new__box"
      *ngFor="let product of newProducts"
      [product]="product"
    ></app-product-card>
  </div>
  <div class="top__btn">
    <button
      class="btn btn__add btn__card"
      (click)="redirect('/catalog/newest')"
    >
      переглянути всі
    </button>
  </div>
</section>
<section class="actions wrapper">
  <div class="top__title">Акції</div>
  <div class="product__card">
    <app-product-card
      class="actions__box"
      *ngFor="let product of discountProducts"
      [product]="product"
    ></app-product-card>
  </div>
  <div class="top__btn">
    <button class="btn btn__add btn__card" (click)="redirect('/sales')">
      переглянути всі
    </button>
  </div>
</section>
<section class="advices wrapper">
  <app-advices class="advices__box"></app-advices>
</section>
