// main-color (shades of gray)
$main-color: #D9D9D9;
$dark-gray: #4B4B4B;
$light-gray: #B2ADAD;

// input
$input-text: #C7C6C6;
$border-input: #949494;

//text
$sale-color: #DA3838;
$gray-text: #565656;
