@import "../../../assets/styles/shared/colors";

@mixin input-wrap {
  display: flex;
  padding: 16px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid $border-input;
}

@mixin input {
  // padding: 16px 12px;
  width: 536px;
  height: 29px;
  border: none;
  outline: none;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  &::placeholder {
    color: $border-input;
  }
}

@mixin form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin title {
  padding-bottom: 60px;

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #000;
}

@mixin btn {
  border: none;
  padding: 16px 12px;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
  background: transparent;
}

@mixin btn-wrap {
  display: flex;
  width: 570px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: $main-color;
}
