@use "fonts";
@use "colors";
@use "a-link";
@use "signin";

.user {
  &__info {
    display: flex;
    align-items: flex-start;
    padding-left: 100px;
    gap: 72px;
  }

  &__info-title {
    @include fonts.font-roboto;
    color: #000;
    text-align: center;

    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 36.4px */
  }
  &__info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 829px;
  }

  &__wrap-input {
    @include signin.input-wrap;
    width: 402px;
    height: 32px;
    padding: 12px 16px;
  }

  &__input {
    @include signin.input;
  }
}
