<div class="user__info-title">Особиста інформація</div>
<div class="user__info-wrap">
  <div class="user__wrap-input">
    <input type="text" class="user__input" />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" />
  </div>
  <div class="user__wrap-input">
    <input type="phone" class="user__input" />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" />
  </div>
</div>
