.login {
  &__google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #010101;
    width: 274px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #010101;
    cursor: pointer;

    &-icon {
      width: 24px;
      height: 24px;
      background-image: url("../../../../assets/pics/png/flat-color-icons_google.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-text {
      padding: 8px;
    }
  }
}
