<section class="name wrapper">
  <p class="name__shop">Name Shop</p>
</section>
<section class="carousel wrapper">
  <app-carousel></app-carousel>
</section>
<section class="top wrapper">
  <app-card [mockData]="mockDataTop" class="top__box"></app-card>
</section>
<section class="new wrapper">
  <app-card class="new__box" [mockData]="mockDataNew"></app-card>
</section>
<section class="actions wrapper">
  <app-card class="actions__box" [mockData]="mockDataActions"></app-card>
</section>
<section class="advices wrapper">
  <app-advices class="advices__box"></app-advices>
</section>
