<div class="wraper">
  <div class="add-product__content">
    <h1>Редагувати</h1>
    <form class="form-wrap" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="input-wrap" [ngClass]="isValid(productForm, 'name')">
        <input
          class="input"
          type="text"
          placeholder="Product name"
          formControlName="name"
        />
        <app-error-validation
          [control]="productForm.get('name')"
        ></app-error-validation>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'brand')">
        <input
          class="input"
          type="text"
          placeholder="Product brand"
          formControlName="brand"
        />
        <app-error-validation
          [control]="productForm.get('brand')"
        ></app-error-validation>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'category')">
        <input
          class="input"
          type="text"
          placeholder="Product category"
          formControlName="category"
        />
        <app-error-validation
          [control]="productForm.get('category')"
        ></app-error-validation>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'subcategory')">
        <input
          class="input"
          type="text"
          placeholder="Product subcategory"
          formControlName="subcategory"
        />
        <app-error-validation
          [control]="productForm.get('subcategory')"
        ></app-error-validation>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'price')">
        <input
          class="input"
          type="number"
          placeholder="Product price"
          formControlName="price"
          min="0"
        />
        <app-error-validation
          [control]="productForm.get('price')"
        ></app-error-validation>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'discount')">
        <input
          class="input"
          type="number"
          placeholder="Product discount"
          formControlName="discount"
          min="0"
        />
        <app-error-validation
          [control]="productForm.get('discount')"
        ></app-error-validation>
      </div>
      <div class="input-wrap">
        <select
          class="input"
          type="text"
          placeholder="Product instock"
          formControlName="instock"
        >
          <option value="false">False</option>
          <option value="true" selected>True</option>
        </select>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'countInStock')">
        <input
          class="input"
          type="number"
          placeholder="Product countInStock"
          formControlName="countInStock"
          min="0"
        />
        <app-error-validation
          [control]="productForm.get('countInStock')"
        ></app-error-validation>
      </div>
      <div class="input-wrap" [ngClass]="isValid(productForm, 'shortDescr')">
        <input
          class="input"
          type="text"
          placeholder="Product shortDescr"
          formControlName="shortDescr"
        />
        <app-error-validation
          [control]="productForm.get('shortDescr')"
        ></app-error-validation>
      </div>

      <textarea
        name="description"
        id=""
        cols="30"
        rows="10"
        placeholder="Product description"
        formControlName="descr"
      ></textarea>
      <div class="input-wrap">
        <input type="text" class="input" formControlName="baseImage" />
      </div>
      <div class="allimages" formArrayName="allImages">
        <div
          class="input-wrap"
          *ngFor="let item of allImages.controls; let i = index"
        >
          <input type="text" class="input" [formControlName]="i" />
        </div>
      </div>
      <div class="allimages__btn">
        <button class="btn btn__add" type="button" (click)="addImageField()">
          +
        </button>
        <button class="btn btn__add" type="button" (click)="deleteImageField()">
          -
        </button>
      </div>
      <section>
        <h2>Характеристики</h2>
        <div class="form-wrap">
          <div class="input-wrap" [ngClass]="isValid(productForm, 'material')">
            <input
              class="input"
              type="text"
              placeholder="Product material"
              formControlName="material"
            />
            <app-error-validation
              [control]="productForm.get('material')"
            ></app-error-validation>
          </div>
          <div class="input-wrap" [ngClass]="isValid(productForm, 'filling')">
            <input
              class="input"
              type="text"
              placeholder="Product filling"
              formControlName="filling"
            />
            <app-error-validation
              [control]="productForm.get('filling')"
            ></app-error-validation>
          </div>
          <div class="input-wrap" [ngClass]="isValid(productForm, 'sizes')">
            <input
              class="input"
              type="text"
              placeholder="Product sizes"
              formControlName="sizes"
            />
            <app-error-validation
              [control]="productForm.get('sizes')"
            ></app-error-validation>
          </div>
          <div class="input-wrap" [ngClass]="isValid(productForm, 'color')">
            <input
              class="input"
              type="text"
              placeholder="Product color"
              formControlName="color"
            />
            <app-error-validation
              [control]="productForm.get('color')"
            ></app-error-validation>
          </div>
          <div
            class="input-wrap"
            [ngClass]="isValid(productForm, 'ergonomics')"
          >
            <input
              class="input"
              type="text"
              placeholder="Product ergonomics"
              formControlName="ergonomics"
            />
            <app-error-validation
              [control]="productForm.get('ergonomics')"
            ></app-error-validation>
          </div>
          <div class="input-wrap" [ngClass]="isValid(productForm, 'load')">
            <input
              class="input"
              type="text"
              placeholder="Product load"
              formControlName="load"
            />
            <app-error-validation
              [control]="productForm.get('load')"
            ></app-error-validation>
          </div>
          <div class="input-wrap" [ngClass]="isValid(productForm, 'functions')">
            <input
              class="input"
              type="text"
              placeholder="Product functions"
              formControlName="functions"
            />
            <app-error-validation
              [control]="productForm.get('functions')"
            ></app-error-validation>
          </div>
          <div
            class="input-wrap"
            [ngClass]="isValid(productForm, 'additional')"
          >
            <input
              class="input"
              type="text"
              placeholder="Product additional"
              formControlName="additional"
            />
            <app-error-validation
              [control]="productForm.get('additional')"
            ></app-error-validation>
          </div>
          <div class="input-wrap" [ngClass]="isValid(productForm, 'care')">
            <input
              class="input"
              type="text"
              placeholder="Product care"
              formControlName="care"
            />
            <app-error-validation
              [control]="productForm.get('care')"
            ></app-error-validation>
          </div>
        </div>
      </section>
      <div class="action">
        <button
          class="btn btn__add"
          type="submit"
          [disabled]="productForm.invalid"
        >
          Додати
        </button>
        <button class="btn btn__add" type="button" (click)="cancel()">
          Відмінити
        </button>
        <ng-content></ng-content>
      </div>
    </form>
  </div>
</div>
