@use "../logo-mixin";

.header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  max-width: 1920px;
  background: #fff;
  z-index: 100;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include logo-mixin.logo;
    margin: 40px 0 0 80px;

    &__text {
      @include logo-mixin.text;
    }
  }

  &__input {
    display: flex;
    margin-top: 48px;
    height: 40px;
    // width: 423px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #949494;
  }
}

.input__search {
  margin: 8px auto 8px 16px;
  border: none;
  outline: none;
  width: 350px;
  flex-shrink: 0;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000;

  &::placeholder {
    color: #c7c6c6;
  }
}

.btn__input__search {
  margin-right: 16px;
  cursor: pointer;
}
