.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 45px;
  margin-right: 72px;

  &__links {
    margin-right: 210px;
  }

  &__link {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #000;

    &:nth-child(-n + 4) {
      margin-right: 88px;
    }
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__icon_heart {
    margin: 0 20px;
  }
}
