.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 131px;
  margin-bottom: 168px;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    height: 515px;
  }

  &__title {
    padding-bottom: 60px;
    font-family: "Roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: #000;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__section-adittion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
  }

  &__link {
    padding-top: 8px;
    padding-bottom: 28px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    text-decoration-line: underline;
    color: #565656;
    cursor: pointer;
  }

  &__google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #010101;
    width: 274px;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #010101;
    cursor: pointer;

    &-icon {
      width: 24px;
      height: 24px;
      background-image: url("../../../assets/pics/png/flat-color-icons_google.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-text {
      padding: 8px;
    }
  }
}

.form {
  &__container {
    width: 570px;
    border-radius: 8px;
    border: 1px solid #949494;

    &:nth-child(-n + 1) {
      margin-bottom: 24px;
    }
  }

  &__input {
    padding: 12px 0 12px 16px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;

    &::placeholder {
      font-family: "Roboto";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #949494;
    }
  }

  &__checkbox {
    margin-right: auto;
    padding-top: 18px;
    padding-bottom: 43px;
  }

  &__checkbox__label {
    width: 127px;
    padding-left: 15px;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #565656;
  }
}

.input {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
}

.icon {
  padding: 0 16px 0 16px;
  cursor: pointer;
}

.or {
  padding-bottom: 28px;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000;
}
