<section class="login">
  <form class="login__form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="form__container">
      <label for="email">Електронна пошта</label>
      <input
        class="form__input"
        type="email"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="form__container">
      <label for="password">Пароль</label>
      <div class="input__wrap">
        <input
          class="form__input"
          type="password"
          id="password"
          formControlName="password"
        />
        <span class="icon" (click)="isVisisble()">
          <app-visibility-icon></app-visibility-icon>
        </span>
      </div>
    </div>
    <div class="form__container">
      <button class="btn" type="submit">Login</button>
    </div>
  </form>

  <div>
    <button class="btn" (click)="googleLogin()">Login with Google</button>
  </div>
  <div style="margin-top: 50px">
    <a routerLink="/" class="btn">На головну сторінку</a>
  </div>
</section>
