@use "fonts";
@use "text";
@use "colors";
@forward "btn";

.cart {
  &__order-img {
    img {
      width: 170px;
      height: 122px;
      flex-shrink: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__order {
    display: flex;
    width: 100%;
    padding: 8px 48px 20px 24px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ababab;
  }

  &__order-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    width: 100%;
  }

  &__order-description,
  &__order-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__order-amount {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
  }

  &__order-total {
    @extend .text;

    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 52px 48px 44px 0;
  }

  &__input {
    @include fonts.primary-roboto(20px, 400, normal, 130%);

    width: 56px;
    padding: 8px;
    text-align: center;
    outline: none;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    background: #fafafa;
  }

  &__order-actions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 24px;
    padding-right: 48px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text {
  @include fonts.montserrat(18px, 400, normal, 130%);
  color: colors.$color-text;
}

.btn__close,
.btn-delete,
.increase,
.decrease {
  cursor: pointer;
}

.noorders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;

  img {
    padding-bottom: 12px;
  }
}

.text-empty {
  @include fonts.montserrat(48px, 500, normal, normal);
  color: colors.$black;
}

.text-link {
  @include fonts.montserrat(18px, 500, normal, 130%);

  text-decoration: underline;
  color: colors.$black;
  cursor: pointer;
}

.info__form {
  padding-bottom: 30px;
}
