<section class="signup">
  <div class="signup__form-wrap">
    <div class="signup__title">Зареєструватися</div>
    <form [formGroup]="signupForm" (ngSubmit)="registerUser()" class="signup__form">
      <div class="signup__input-wrap">
        <input type="text" class="signup__input" placeholder="І'мя Призвіще*" />
      </div>
      <div class="signup__input-wrap">
        <input type="email" class="signup__input" placeholder="E-mail*" />
      </div>
      <div class="signup__input-wrap">
        <input
          #input
          type="password"
          class="signup__input-icon"
          placeholder="Пароль*"
        />
        <span class="icon" (click)="isVisisble(input)">
          <app-visibility-icon></app-visibility-icon>
        </span>
      </div>
      <div class="signup__input-wrap">
        <input
          #confirm
          type="password"
          class="signup__input-icon"
          placeholder="Повторити пароль*"
        />
        <span class="icon" (click)="isVisisble(confirm)">
          <app-visibility-icon></app-visibility-icon>
        </span>
      </div>
      <div class="signup__btn-wrap">
        <button class="btn__grey btn" type="submit">Зареєструватися</button>
      </div>
    </form>
    <div class="signup__section-adittion">
      <a class="signup__link" routerLink="/login">Увійти</a>
    </div>
    <p class="or">або</p>
    <div class="signup__google" (click)="googleLogin()">
      <span class="signup__google-icon"></span>
      <span class="signup__google-text">Google</span>
    </div>
  </div>
</section>
