@use "../../../../assets/styles//shared/signin";

.signup {
  margin: 0 auto;
  margin-top: 120px;
  width: 570px;
  height: 668px;

  &__title {
    @include signin.title;
  }

  &__form-wrap {
    @include signin.form-wrap;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__input-wrap {
    @include signin.input-wrap;
  }

  &__input-icon {
    @include signin.input;
    width: 506px;
  }

  &__input {
    @include signin.input;
  }

  &__section-adittion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
  }

  &__link {
    padding-top: 8px;
    padding-bottom: 28px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    text-decoration-line: underline;
    color: #565656;
    cursor: pointer;
  }

  &__google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #010101;
    width: 274px;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #010101;
    cursor: pointer;

    &-icon {
      width: 24px;
      height: 24px;
      background-image: url("../../../../assets/pics/png/flat-color-icons_google.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-text {
      padding: 8px;
    }
  }
}

.or {
  text-align: center;
  padding-bottom: 28px;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000;
}

.icon {
  cursor: pointer;
}
