<section class="signup">
  <div class="signup__form-wrap">
    <div class="signup__title">Зареєструватися</div>
    <form
      [formGroup]="signupForm"
      (ngSubmit)="registerUser()"
      class="signup__form"
    >
      <div class="signup__input-wrap" [ngClass]="isValid(signupForm, 'name')">
        <input
          type="text"
          class="signup__input"
          placeholder="І'мя Призвіще*"
          formControlName="name"
        />
        <app-error-validation
          [control]="signupForm.get('name')"
        ></app-error-validation>
      </div>

      <div class="signup__input-wrap" [ngClass]="isValid(signupForm, 'email')">
        <input
          type="email"
          class="signup__input"
          placeholder="E-mail*"
          formControlName="email"
        />
        <app-error-validation
          [control]="signupForm.get('email')"
        ></app-error-validation>
      </div>
      <div
        class="signup__input-wrap"
        [ngClass]="isValid(signupForm, 'password')"
      >
        <input
          #input
          type="password"
          class="signup__input-icon"
          placeholder="Пароль*"
          formControlName="password"
        />
        <span class="icon" (click)="isVisisble(input)">
          <app-visibility-icon></app-visibility-icon>
        </span>
        <app-error-validation
          [control]="signupForm.get('password')"
        ></app-error-validation>
      </div>
      <div
        class="signup__input-wrap"
        [ngClass]="isValid(signupForm, 'confirmPassword')"
      >
        <input
          #confirm
          type="password"
          class="signup__input-icon"
          placeholder="Повторити пароль*"
          formControlName="confirmPassword"
        />
        <span class="icon" (click)="isVisisble(confirm)">
          <app-visibility-icon></app-visibility-icon>
        </span>
        <app-error-validation
          [control]="signupForm.get('confirmPassword')"
        ></app-error-validation>
      </div>
      <div class="signup__btn-wrap">
        <button
          class="btn btn__login diasbled"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Зареєструватися
        </button>
      </div>
    </form>
    <div class="signup__section-adittion">
      <a class="signup__link" routerLink="/login">Увійти</a>
    </div>
    <p class="or">або</p>
    <div>
      <app-google-login></app-google-login>
    </div>
  </div>
</section>
