@use "fonts";
@use "colors";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &__title {
    @include fonts.montserrat(20px, 500, normal, 130%);
  }

  &__subtitle {
    @include fonts.montserrat(16px, 400, normal, 130%);
  }

  &__info {
    @include fonts.montserrat(16px, 400, normal, 130%);
  }
}
