.filters {
  position: fixed;
  right: 0;
  top: 0;
  width: 640px;
  height: 100%;
  z-index: 9999;
  background-color: #f9f9f9;

  &__title {
    padding: 8px 24px;
    font-size: 36px;

    h2 {
      padding-left: 63px;
      position: relative;

      &:before {
        content: "";
        width: 44px;
        height: 44px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../../../assets/pics/png/filter.png");
      }
    }
  }

  &__close {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 34px;
    height: 34px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #000;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      transform: translateX(-50%) rotate(-45deg);
    }
  }

  &__items {
    padding: 0;
    list-style: none;
  }

  &__item {
    border-top: 1px solid #ababab;
    font-size: 26px;
    padding: 15px 24px;
    cursor: pointer;

    h3 {
      position: relative;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
    }
  }

  &__sub-items {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 20px;
  }

  &__sub-item {
    position: relative;
    padding-left: 32px;
    cursor: pointer;

    .hidden-checkbox {
      display: none;
    }

    .checkbox {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 2px solid #000;
      border-radius: 4px;
    }

    .hidden-checkbox:checked + .checkbox::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 1.5px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #afacac;
    }
  }

  &__item-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 41px;
    height: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2.5px;
      height: 19px;
      background-color: #000;
      top: 5px;
    }

    &::before {
      left: 6px;
      transform: rotate(45deg);
      transform-origin: bottom right;
    }

    &::after {
      right: 6px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
  }
  &__btn {
    display: flex;
    padding: 10px 24px;
    justify-content: space-between;
  }

  &__clear {
    width: 244px;
    padding: 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #4c4949;
    color: #4c4949;
    font-size: 18px;
    cursor: pointer;
  }

  &__submit {
    color: #fff;
    font-size: 18px;
    width: 244px;
    padding: 12px;
    border-radius: 4px;
    background: #4d4949;
  }
}

.checked .filters__item-arrow {
  transform: translateY(-50%) rotate(0deg);
}
