<section class="order">
  <h1 class="order__title">Оформлення замовлення</h1>
  <h2 class="order__subtitle">Особиста інформація</h2>
  <div class="order__user-info">
    <div class="order__user-info__items" *ngIf="user.firstName">
      <div class="order__user-info__name">
        <div class="order__user-info__item">Ім’я:</div>
        <div class="order__user-info__data">{{ user.firstName }}</div>
      </div>

      <div class="order__user-info__name">
        <div class="order__user-info__item">Телефон:</div>
        <div class="order__user-info__data">{{ user.phone }}</div>
      </div>
    </div>
    <div class="order__user-info__items" *ngIf="!user.isAnonymous">
      <div class="order__user-info__name" *ngIf="user.lastName">
        <div class="order__user-info__item">Прізвище:</div>
        <div class="order__user-info__data">{{ user.lastName }}</div>
      </div>
      <div class="order__user-info__name" *ngIf="user.email">
        <div class="order__user-info__item">E-mail:</div>
        <div class="order__user-info__data">{{ user.email }}</div>
      </div>
    </div>
  </div>

  <div class="order__order container">
    <h2 class="order__subtitle">Замовлення</h2>
    <div class="order__order__items" *ngFor="let order of orders">
      <div class="order__order__image">
        <img [src]="order.image" [alt]="order.name" />
      </div>
      <div class="items__elem">
        <div class="group__count">
          <p class="order__order__name">{{ order.name }}</p>
          <div class="order__order__count">
            <span
              class="decrease"
              (click)="decrease(order.product, +quantity.value)"
            >
              <app-icon
                [path]="'minus'"
                [size]="{ width: '26px', height: '27px' }"
                [viewBox]="'0 0 26 27'"
                [fill]="'none'"
              ></app-icon>
            </span>
            <input
              #quantity
              type="number"
              [min]="minQuantity"
              [max]="maxQuantity"
              [(ngModel)]="order.quantity"
              class="order__input"
              disabled
            />
            <span
              class="increase"
              (click)="increase(order.product, +quantity.value)"
            >
              <app-icon
                [path]="'increase'"
                [size]="{ width: '26px', height: '27px' }"
                [viewBox]="'0 0 26 27'"
                [fill]="'none'"
              ></app-icon>
            </span>
          </div>
        </div>
        <div class="group__price">
          <p class="order__order__price">
            {{ order.price * order.quantity | transformPrice }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-department></app-department>
  <div class="payment container">
    <app-payment></app-payment>
  </div>
  <div class="make-payment container">
    <app-make-payment [total]="total"></app-make-payment>
  </div>
</section>
