@import "colors";

.header__input {
  display: flex;
  height: 40px;
  // width: 423px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid $border-input;
}

.input__search {
  margin: 8px auto 8px 16px;
  border: none;
  outline: none;
  width: 350px;
  flex-shrink: 0;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000;

  &::placeholder {
    color: $input-text;
  }
}

.btn__input__search {
  margin-right: 16px;
  cursor: pointer;
}
