<header class="header">
  <a class="nav__logo" routerLink="/">LOGO</a>
  <nav class="nav">
    <!-- <div class="nav__menu"> -->
      <a class="nav__link" routerLink="" routerLinkActive="active__link" ariaCurrentWhenActive="page"  >Electro tools</a>
      <a class="nav__link" routerLink="" routerLinkActive="active__link" ariaCurrentWhenActive="page"  >Gardening</a>
      <a class="nav__link" routerLink="" routerLinkActive="active__link" ariaCurrentWhenActive="page"  >Paints</a>
      <a class="nav__link" routerLink="" routerLinkActive="active__link" ariaCurrentWhenActive="page"  >Other things</a>
    <!-- </div> -->
  </nav>
</header>
