@use "colors";

.header {
  display: block;
  position: sticky;
  margin: 0 auto;
  padding: 0 80px;
  top: 0;
  left: 0;
  z-index: 100;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
