.header {
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 100;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 80px;
    top: 0;
    left: 0;
  }
}
