@use "signin";
@use "colors";
@use "flex";
@use "fonts";
@forward "../../error-validation/error-validation.component.scss";

.signup {
  margin: 120px auto 160px auto;
  width: 570px;

  &__title {
    @include signin.title;
  }

  &__form-wrap {
    @include signin.form-wrap;
  }

  &__form {
    @include flex.flex-col-ac;
    justify-content: center;
    gap: 24px;
  }

  &__input-wrap {
    @include signin.input-wrap;
  }

  &__input-icon {
    @include signin.input;
    width: 506px;
  }

  &__input {
    @include signin.input;
  }

  &__section-adittion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
  }

  &__link {
    @include fonts.primary-roboto(15px, 400, normal, 130%);
    padding-top: 8px;
    padding-bottom: 28px;
    text-decoration: none;
    text-decoration-line: underline;
    color: colors.$gray-text;
    cursor: pointer;
  }
}

.or {
  text-align: center;
  padding-bottom: 28px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000;
}

.icon {
  cursor: pointer;
}
