<div class="top__title">{{ mockData.title }}</div>
<!-- in card without discount is lover position it should be fixed -->
<div class="card__wrap">
  <div class="card" *ngFor="let prod of mockData.data">
    <div class="card__image">
      <ng-container *ngIf="prod.discount">
        <div class="card__disc">Акція</div>
      </ng-container>
    </div>
    <div class="card__title">
      {{ prod.title }}
    </div>
    <div class="card__price">{{ prod.price }}₴</div>
    <ng-container *ngIf="prod.discount">
      <div class="card__price__discount">{{ prod.discount }}₴</div>
    </ng-container>
  </div>
</div>
