<div class="footer">
  <div class="footer__logo">
    <a routerLink="/" class="footer__logo__text">
      <app-logo></app-logo>
    </a>
  </div>
  <nav class="footer__nav">
    <a routerLink="/about/FAQ" class="footer__nav__link">FAQ</a>
    <a routerLink="/about/delivery" class="footer__nav__link"
      >Доставка і оплата</a
    >
    <a routerLink="/about/contact" class="footer__nav__link">Контакти</a>
    <a routerLink="/about/policy" class="footer__nav__link"
      >Політика конфіденційності</a
    >
  </nav>
  <div class="rights">
    <p>&copy; 2023 NameShop. All Rights Reserved.</p>
  </div>
</div>
