@use "colors";
@use "fonts";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 8px;
  flex-shrink: 0;
  cursor: pointer;

  &__login {
    @include fonts.montserrat(20px, 500, normal, 130%);
    width: 570px;
    height: 60px;
    padding: 16px 12px;
    gap: 8;
    background: colors.$light-black;
    color: colors.$white;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(9, 9, 9, 0.4);
    }

    &:active {
      box-shadow: none;
    }

    &:disabled {
      @extend .disabled-grey;
    }
  }

  &__buy {
    @include fonts.montserrat(24px, 400, normal, 130%);

    // width: 276px;
    height: 64px;
    padding: 8px 16px;
    text-transform: uppercase;
    gap: 8;
    background: colors.$light-black;
    color: colors.$white100;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(9, 9, 9, 0.4);
    }

    &:active {
      box-shadow: none;
    }

    &:disabled {
      @extend .disabled-grey;
    }
  }

  &__add {
    @include fonts.primary-roboto(20px, 300, normal, 130%);
    // width: 274px;
    height: 64px;
    padding: 16px 32px;
    text-transform: uppercase;
    gap: 16px;
    border: 1px solid colors.$color-text;
    color: colors.$color-text;

    &:hover {
      background: colors.$color-text;
      color: colors.$white100;
    }

    &:active {
      background: transparent;
      color: colors.$color-text;
    }

    &:disabled {
      @extend .disabled;
    }
  }

  &__reply {
    @include fonts.primary-roboto(22px, 400, normal, 130%);

    padding: 16px;
    gap: 16px;
    border: 1px solid colors.$gray-active-input;
    color: colors.$color-text;

    &:disabled {
      @extend .disabled;
    }
  }
}

.disabled {
  border: 1px solid colors.$gray;
  color: colors.$gray;
  box-shadow: none;
  background: transparent;
}

.disabled-grey {
  background: colors.$gray;
  color: colors.$white;
  box-shadow: none;
}
