// main-color (shades of gray)
$main-color: #d9d9d9;
$dark-gray: #4b4b4b;
$light-gray: #b2adad;
$black: #000;
$white: #fff;

// input
$input-text: #c7c6c6;
$border-input: #949494;

//text
$sale-color: #da3838;
$gray-text: #565656;
$link-color-grey: #797979;
