<nav class="header__nav">
  <ul class="header__nav-items">
    <li class="header__nav-item">
      <a class="header__nav-link" routerLink="/admin/products">Товари</a>
    </li>
    <ul class="header__nav-items header__nav-hidden">
      <li class="header__nav-item">
        <a class="header__nav-link" routerLink="/admin/products/add"
          >Додати новий товар</a
        >
      </li>
    </ul>
    <li class="header__nav-item">
      <a class="header__nav-link" routerLink="/admin/orders">Замовлення</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" routerLink="/admin/reviews">Відгуки</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" routerLink="/admin/users">Покупці</a>
    </li>
  </ul>
</nav>
