<div class="user__info-title">Особиста інформація</div>
<form class="user__form" [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <div class="user__wrap-input" [ngClass]="isValid(infoForm, 'name')">
    <input
      type="text"
      class="user__input"
      formControlName="name"
      placeholder="Ім'я *"
    />
    <app-error-validation
      [control]="infoForm.get('name')"
    ></app-error-validation>
  </div>
  <div class="user__wrap-input" [ngClass]="isValid(infoForm, 'lastName')">
    <input
      type="text"
      class="user__input"
      formControlName="lastName"
      placeholder="Прізвище *"
    />
    <app-error-validation
      [control]="infoForm.get('lastName')"
    ></app-error-validation>
  </div>
  <div class="user__wrap-input" [ngClass]="isValid(infoForm, 'email')">
    <input
      type="email"
      class="user__input"
      formControlName="email"
      placeholder="Email *"
    />
    <app-error-validation
      [control]="infoForm.get('email')"
    ></app-error-validation>
  </div>
  <div class="user__wrap-input" [ngClass]="isValid(infoForm, 'phone')">
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        viewBox="0 0 23 23"
        fill="none"
      >
        <g clip-path="url(#clip0_421_659)">
          <path
            d="M20.4444 3.19446H2.55556C1.87778 3.19446 1.22776 3.4637 0.748505 3.94296C0.269245 4.42222 0 5.07224 0 5.75001L0 11.5H23V5.75001C23 5.07224 22.7308 4.42222 22.2515 3.94296C21.7722 3.4637 21.1222 3.19446 20.4444 3.19446Z"
            fill="#005BBB"
          />
          <path
            d="M23 17.25C23 17.9278 22.7308 18.5778 22.2515 19.0571C21.7722 19.5363 21.1222 19.8056 20.4444 19.8056H2.55556C1.87778 19.8056 1.22776 19.5363 0.748505 19.0571C0.269245 18.5778 0 17.9278 0 17.25V11.5H23V17.25Z"
            fill="#FFD500"
          />
        </g>
        <defs>
          <clipPath id="clip0_421_659">
            <rect width="23" height="23" fill="white" />
          </clipPath>
        </defs>
      </svg> </span
    ><span class="phone-holder">{{ phoneHolder }}</span>
    <input type="text" formControlName="phone" class="user__input" />
    <app-error-validation
      [control]="infoForm.get('phone')"
    ></app-error-validation>
  </div>
  <div class="user__wrap-input" [ngClass]="isValid(infoForm, 'address')">
    <input
      #addr
      type="text"
      class="user__input"
      formControlName="address"
      placeholder="Адреса *"
      (keyup)="getAddress(addr.value)"
      [value]="infoForm.get('address')?.value"
      (blur)="onblur()"
    />
    <app-error-validation
      [control]="infoForm.get('address')"
    ></app-error-validation>
  </div>
  <div class="user__wrap-input" [ngClass]="isValid(infoForm, 'password')">
    <input
      type="password"
      class="user__input"
      formControlName="password"
      placeholder="Пароль *"
    />
    <app-error-validation
      [control]="infoForm.get('password')"
    ></app-error-validation>
  </div>
  <div class="address__list" *ngIf="addresses.length && isChosen">
    <ul class="address__list-items">
      <li
        class="address__list-item"
        *ngFor="let address of addresses"
        (click)="chosenAddress(address)"
      >
        {{ address.SettlementTypeDescription }} {{ address.Description }}
        {{ address.RegionsDescription }} {{ address.AreaDescription }}
      </li>
    </ul>
  </div>
  <div class="delivery">
    <div class="delivery__title">Способи доставки</div>
    <div class="delivery__options">
      <div class="delivery__options-checkbox">
        <label for="novaposhta">
          <input
            type="radio"
            name="delivery"
            id="novaposhta"
            formControlName="delivery"
            value="novaposhta"
          />
          <span class="checkbox__custom"></span>
          <span class="logo-company">logo</span>
          <span class="text-company">Нова Пошта</span>
        </label>
        <div
          class="delivery__options-select"
          [ngClass]="isValid(infoForm, 'department')"
        >
          <input
            #city
            type="text"
            class="input-select"
            (keyup)="getDepartments(city.value)"
            formControlName="department"
            placeholder="Оберіть відділення"
            (blur)="onblur()"
            (focus)="isDepartment = true"
          />
          <div class="icon" (click)="isDepartment = !isDepartment">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="11"
              height="7"
              viewBox="0 0 11 7"
              fill="none"
            >
              <path
                d="M5 6.49999C4.93442 6.50079 4.86941 6.48786 4.80913 6.46202C4.74885 6.43619 4.69465 6.39803 4.65 6.34999L0.15 1.84999C-0.05 1.64999 -0.05 1.33999 0.15 1.13999C0.35 0.93999 0.66 0.93999 0.86 1.13999L5.01 5.28999L9.15 1.14999C9.35 0.94999 9.66 0.94999 9.86 1.14999C10.06 1.34999 10.06 1.65999 9.86 1.85999L5.36 6.35999C5.26 6.45999 5.13 6.50999 5.01 6.50999L5 6.49999Z"
                fill="#6A6A6A"
              />
            </svg>
            <app-error-validation
              [control]="infoForm.get('department')"
            ></app-error-validation>
          </div>
          <div
            class="department__list"
            *ngIf="departments?.length && isDepartment"
          >
            <ul class="department__list-items">
              <li
                class="department__list-item"
                *ngFor="let department of departments"
                (click)="chosenDepartment(department)"
              >
                {{ department.city }} {{ department.description }}
              </li>
            </ul>
          </div>
        </div>
        <div class="delivery__options-btn">
          <span>Заберіть посилку у найближчому відділенні Нової Пошти</span>
        </div>
      </div>
      <div class="delivery__options-checkbox">
        <label for="uapost">
          <input
            type="radio"
            name="delivery"
            id="uapost"
            formControlName="delivery"
            value="uapost"
          />
          <span class="checkbox__custom"></span>
          <span class="logo-company">logo</span>
          <span class="text-company">УкрПошта</span>
        </label>
      </div>
      <div class="delivery__options-checkbox">
        <label for="onmyown">
          <input
            type="radio"
            name="delivery"
            id="onmyown"
            formControlName="delivery"
            value="onmyown"
          />
          <span class="checkbox__custom"></span>
          <span class="logo-company">logo</span>
          <span class="text-company">Самовивіз</span>
        </label>
      </div>
      <div class="delivery__options-checkbox">
        <label for="postman">
          <input
            type="radio"
            name="delivery"
            id="postman"
            formControlName="delivery"
            value="postman"
          />
          <span class="checkbox__custom"></span>
          <span class="logo-company">logo</span>
          <span class="text-company">Кур’єрська доставка</span>
        </label>
        <app-error-validation
          [control]="infoForm.get('delivery')"
        ></app-error-validation>
      </div>
    </div>
    <div class="delivery__actions">
      <button type="submit" class="btn delivery__btn">Зберегти зміни</button>
      <button type="button" class="btn__text">Скасувати всі зміни</button>
    </div>
  </div>
</form>

<div class="contactus" (click)="redirectToContact()">
  <!-- will fix path when the path is ready -->
  <app-contact-us></app-contact-us>
</div>
