<div class="user__info-title">Особиста інформація</div>
<div class="user__info-wrap">
  <div class="user__wrap-input">
    <input type="text" class="user__input" placeholder="Ім'я *" />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" placeholder="Прізвище *" />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" placeholder="Email *" />
  </div>
  <div class="user__wrap-input">
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        viewBox="0 0 23 23"
        fill="none"
      >
        <g clip-path="url(#clip0_421_659)">
          <path
            d="M20.4444 3.19446H2.55556C1.87778 3.19446 1.22776 3.4637 0.748505 3.94296C0.269245 4.42222 0 5.07224 0 5.75001L0 11.5H23V5.75001C23 5.07224 22.7308 4.42222 22.2515 3.94296C21.7722 3.4637 21.1222 3.19446 20.4444 3.19446Z"
            fill="#005BBB"
          />
          <path
            d="M23 17.25C23 17.9278 22.7308 18.5778 22.2515 19.0571C21.7722 19.5363 21.1222 19.8056 20.4444 19.8056H2.55556C1.87778 19.8056 1.22776 19.5363 0.748505 19.0571C0.269245 18.5778 0 17.9278 0 17.25V11.5H23V17.25Z"
            fill="#FFD500"
          />
        </g>
        <defs>
          <clipPath id="clip0_421_659">
            <rect width="23" height="23" fill="white" />
          </clipPath>
        </defs>
      </svg> </span
    ><span>{{ phoneHolder }}</span>
    <input type="text" class="user__input" />
  </div>
  <div class="user__wrap-input">
    <input
      #address
      type="phone"
      class="user__input"
      placeholder="Адреса *"
      (keyup)="getAddress(address.value)"
    />
  </div>
  <div class="user__wrap-input">
    <input type="text" class="user__input" placeholder="Пароль *" />
  </div>
</div>
<div class="delivery">
  <div class="delivery__title">Способи доставки</div>
  <div class="delivery__options">
    <div class="delivery__options-checkbox">
      <input type="checkbox" class="checkbox" />
      <span class="logo-company">logo</span
      ><span class="text-company">Нова Пошта</span>
      <div class="delivery__options-select">
        <select class="select">
          <option class="select__option" value="">Оберіть відділення</option>
        </select>
      </div>
      <div class="delivery__opitions-btn">
        <span>Заберіть посилку у найближчому відділенні Нової Пошти</span>
      </div>
    </div>
    <div class="delivery__options-checkbox">
      <input type="checkbox" name="delivery" id="" class="checkbox" />
      <span class="logo-company">logo</span
      ><span class="text-company">УкрПошта</span>
    </div>
    <div class="delivery__options-checkbox">
      <input type="checkbox" name="delivery" id="" class="checkbox" />
      <span class="logo-company">logo</span
      ><span class="text-company">Самовивіз</span>
    </div>
    <div class="delivery__options-checkbox">
      <input type="checkbox" name="delivery" id="" class="checkbox" />
      <span class="logo-company">logo</span
      ><span class="text-company">Кур’єрська доставка</span>
    </div>
  </div>
  <div class="delivery__actions">
    <button class="btn delivery__btn">Зберегти зміни</button>
    <button class="btn__text">Скасувати всі зміни</button>
  </div>
</div>
<div class="contactus">
  <app-contact-us></app-contact-us>
</div>
