<section class="feedbacks wrapper">
  <h3 class="feedbacks__title">Відгуки</h3>
  <div class="feedbacks__add">
    <p class="feedbacks__rating">
      Рейтинг: 4.8 &#9734; &#9734; &#9734; &#9734; &#9734;
    </p>
    <p class="feedbacks__num">Всі відгуки: {{ feedbackAmount }}</p>
    <div class="feedbacks__inputs">
      <input
        class="feedbacks__input-text"
        type="text"
        placeholder="Написати відгук"
        [(ngModel)]="feedback"
      />
      <!-- <div class="feedbacks__input-file">
        <input
          type="file"
          id="fileInput"
          [(ngModel)]="file"
          class="feedbacks__file-input"
        />
        <label for="fileInput" class="feedbacks__file-icon">
          <app-icon
            [path]="'attach'"
            [size]="{ width: '29px', height: '27px' }"
            [viewBox]="'0 0 29 27'"
          ></app-icon>
        </label>
      </div> -->
      <button class="feedbacks__see-all" (click)="addReview()">
        надіслати
      </button>
    </div>
  </div>
  <app-feedback-item
    [product]="product"
    (feedbackLength)="feedbackLength($event)"
  ></app-feedback-item>

  <button class="feedbacks__see-all">всі відгуки</button>
</section>
