// main-color (shades of gray)
$main-color: #d9d9d9;
$dark-gray: #4b4b4b;
$gray: #949494;
$light-gray: #b2adad;
$black: #000;
$light-black: #272727;
$white100: #fff;
$white: #fafafa;

// input
$input-text: #c7c6c6;
$gray-active-input: #646464;

//text
$sale-color: #da3838;
$gray-text: #565656;
$link-color-grey: #797979;
$color-text: #05020e;
