@use "fonts";

@mixin logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 125px;
}

@mixin text {
  @include fonts.font-manrope(32px, 500, normal, 130%);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@mixin image {
  background-image: url("../../assets/pics/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
