@use "colors";
@use "fonts";

.errorMessage {
  @include fonts.inter(14px, 400, normal, normal);

  position: absolute;
  top: 30px;
  right: 40px;
  width: 500px;
  color: colors.$sale-color;
}
app-error-validation {
  position: relative;
}
