<figure class="product-card">
  <figcaption class="product-card__caption">
    <span class="product-card__action" *ngIf="product.discount">Акція</span>
    <span class="product-card__like" (click)="addToWishList(product._id)">
      <app-icon
        class="like"
        [path]="'like'"
        [size]="{ width: '40px', height: '40px' }"
        [viewBox]="'0 0 40 40'"
      />
      <app-icon
        class="like-hover"
        [path]="'like-hover'"
        [size]="{ width: '40px', height: '40px' }"
        [viewBox]="'0 0 40 40'"
      ></app-icon>
    </span>

    <div
      class="product-card__placeholder"
      (click)="
        navigateToProduct(product.category, product.subcategory, product._id)
      "
    >
      <div class="product-card__picture">
        <img
          class="product-card__image"
          width="360"
          height="360"
          alt="{{ product.name }}"
          *ngIf="product.baseImage"
          [ngSrc]="product.baseImage"
        />
      </div>
    </div>

    <h3 class="product-card__name">{{ product.name }}</h3>
    <p class="product-card__sale" *ngIf="product.discount">
      {{ product.price * 0.8 | transformPrice }}
    </p>
    <p
      class="product-card__price"
      [ngClass]="{ 'product-card__crossed-price': product.discount }"
    >
      {{ product.price | transformPrice }}
    </p>
  </figcaption>
</figure>
