@use "logo-mixin";

.footer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

  &__logo {
    @include logo-mixin.logo;
    margin: 0 auto;
    display: flex;

    &__text {
      @include logo-mixin.text;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

    &__link {
      text-decoration: none;

      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #000;
    }
  }
}

.rights {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;

  p {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.12px;
    color: #08091e;
  }
}
