.card-link{
  text-decoration: none;
  color: #000;
}

.example-card {
  width: 300px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);

  &:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7)
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

