<app-menu></app-menu>
<main style="margin-top: 11rem;">
  <div class="cards">

    <a routerLink="/electro" class="card-link">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Electro tools</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/pics/electro-tools.png" alt="Photo of an electro tools">

      </mat-card>
    </a>
    <a routerLink="/electro" class="card-link">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Paints</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/pics/paints.jpeg" alt="Photo of an electro tools">

      </mat-card>
    </a>
    <a routerLink="/electro" class="card-link">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Gardening</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/pics/gardening.jpg" alt="Photo of an electro tools">

      </mat-card>
    </a>
    <a routerLink="/electro" class="card-link">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Others</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/pics/electro-tools.png" alt="Photo of an electro tools">

      </mat-card>
    </a>
  </div>
  <router-outlet></router-outlet>
</main>
