<section class="login">
  <div class="login__wrap">
    <div class="login__title">Увійти</div>
    <form class="login__form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form__container">
        <input
          class="form__input"
          type="email"
          id="email"
          formControlName="email"
          placeholder="E-mail*"
        />
      </div>
      <div class="form__container">
        <div class="input__wrap">
          <input
            #input
            class="form__input"
            type="password"
            id="password"
            formControlName="password"
            placeholder="Пароль*"
          />
          <span class="icon" (click)="isVisisble(input)">
            <app-visibility-icon></app-visibility-icon>
          </span>
        </div>
      </div>
      <div class="form__checkbox">
        <input type="checkbox" id="pass-save" formControlName="savePass" />
        <label class="form__checkbox__label" for="pass-save"
          >Зберегти пароль</label
        >
      </div>
      <div class="form__btn">
        <button class="btn__grey" type="submit">Увійти</button>
      </div>
    </form>
    <div class="login__section-adittion">
      <a class="login__link">Забули пароль?</a>
      <a class="login__link" routerLink="/signup">Зареєструватися</a>
    </div>
    <p class="or">або</p>
    <app-google-login></app-google-login>
  </div>
</section>
